.categoryList{
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 1rem;

.link{
    height: 78px;
   width: 78px;
   padding: 10px;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   background-color: rgba(242, 242, 242, 0.6);
   box-shadow: 0 4px 10px rgb(0 0 0 / 12%), 0 0 1px rgb(0 0 0 / 5%) inset;
   text-decoration: none;
   cursor: pointer;
   transform: scale(0.8);

 h4{
    color: #656566;
 }
 svg{
    color: #e16120;
 }
 &:active{
    h4, svg {
        color: #3a9691;
    }
 }
}
}