@import './variables';

.wrapper {
  margin-top: 10rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: left;

  h2 {
    margin-bottom: 2rem;
  }
  
img {
  border: 4px solid rgba(194, 191, 164, 0.8);
  border-radius: $radius;
  box-shadow: $b-shadow;
}
  li {
    font-size: 1.2rem;
    line-height: 2.5rem;
  }
  ul {
    margin-top: 2rem;
  }
  a {
    text-decoration: none;
    color: rgb(138, 199, 124);
  }
  .info {
    button {
      padding: 1rem 2rem;
      color: $gray;
      border: 2px solid  rgba(194, 191, 164, 0.8);
      border-radius: 26px;
      margin-right: 2rem;
      font-weight: 600;
      cursor: pointer;
      transition: 0.5s ease-out;
    }  
    button:hover{
      background-color: rgb(138, 199, 124);
    }
    button:active {
        background-color:  rgba(194, 191, 164, 0.8);
        color: rgb(138, 199, 124);;
        border: 2px solid rgba(242, 242, 242, 0.6);
      }
  }
}
