@import './variables'; 

form {
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    border: none;
    font-size: 1rem;
    color: $gray;
    background-color: rgba(245, 245, 245, 0.9);
    padding: 1rem;
    border-radius: 1rem;
    outline: none;
    box-shadow: $b-shadow;
   
  } svg{
        margin-right: 5px;
    }
}
