
form {
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    border: none;
    font-size: 1rem;
    color: #656566;
    background-color: rgba(245, 245, 245, 0.9);
    padding: 1rem;
    border-radius: 1rem;
    outline: none;
    box-shadow: 0 4px 10px rgb(0 0 0 / 12%), 0 0 1px rgb(0 0 0 / 5%) inset;
   
  } svg{
        margin-right: 5px;
    }
}
